<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Library</title>
</head>
<body>
<h1>Add Book</h1><hr>
    <table>
        <tr>
            <td>partnumber</td>
            <td>author</td>
            <td>title</td>
        </tr>
        <tr th:each="book : ${bookList}">
            <td th:text="${book.getPartNumber()}"/>
            <td th:text="${book.getAuthor()}"/>
            <td th:text="${book.getTitle()}"/>
            <td>

            </td>
        </tr>
    </table>
    </table>
</body>
</html>